<div class="container">
  <div class="title">
    Home / Users / {{pageTitle}}
  </div>
  <div class="content">
    <div class="sub-title">{{pageTitle}} User</div>
    <div class="sub-content">
      <!-- <div class="m-loader">
      <app-loader [isLoading]="loading"></app-loader>
    </div> -->
      <form *ngIf="metaInfo" autocomplete="off" (ngSubmit)="isEdit ? updateUser() : addUser()">
        <app-dynamic-layout [layoutMeta]="metaInfo" [dataModel]="user" [componentDb]="componentDb"></app-dynamic-layout>
        <div>
          <input type="submit" class="m-button" [value]="isEdit ? 'Update' : 'Submit'">
          <button routerLink="/users" class="m-button">Cancel</button>
        </div>
      </form>
      <!-- {{user | json}} -->
    </div>
  </div>
</div>