<div class="input-container">
  <div class="label-container">
    <span class="label-icon"></span>
    <label [attr.for]="metaInfo.name" class="label">{{metaInfo.label}}</label>
  </div>
  <div class="field-container">
    <mat-form-field [floatLabel]="'never'">
      <input matInput type="password" [id]="metaInfo.name" [placeholder]="metaInfo.label" [required]="metaInfo.required" [name]="metaInfo.name"
        [(ngModel)]="model[metaInfo.fieldId]">
    </mat-form-field>
  </div>
</div>

<div *ngIf="metaInfo.show_confirm" class="input-container">
  <div class="label-container">
    <span class="label-icon"></span>
    <label [attr.for]="metaInfo.name" class="label">Confirm {{metaInfo.label}}</label>
  </div>
  <div class="field-container">
    <mat-form-field [floatLabel]="'never'">
      <input matInput type="password" [id]="metaInfo.name + '2'" [placeholder]="metaInfo.label" [required]="metaInfo.required"
        [name]="metaInfo.name">
    </mat-form-field>
  </div>
</div>