.chart {
    width: 98%;
    background: #FFF;
    margin: 15px auto;
    padding: 10px 10px;
    border-radius: 5px;
}

h3 {
    text-align: left;
    font-weight: normal;
    padding-left: 10px;
}

.dropdown {
    background: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    top: 15px;
}