@import "src/variables";
th {
    background: $primary;
    padding: 10px 0;
    color: $white;
    font-size: 16px;
    text-align: left !important;
}

td {
    font-size: 16px;
    text-align: left; // padding-left: 20px;
}

.button-group.icon button {
    height: 40px;
    mat-icon {
        padding: 2px;
        margin: 0;
    }
}

:host /deep/ .table-slk-grid tbody {
    height: 90% !important;
}

.black-bg {
    background: rgb(70, 67, 67);
}